name: API Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'ohagi-dinner-api/**.go'
      - 'ohagi-dinner-api/go.mod'
      - 'ohagi-dinner-api/go.sum'
      - 'ohagi-dinner-api/Dockerfile'
      - 'ohagi-dinner-api/litestream.yml'
      - '.github/workflows/api-deploy.yml'

env:
  SERVICE_NAME: ${{ secrets.API_SERVICE_NAME }}
  PORT: ${{ secrets.API_PORT }}
  GCP_PROJECT_ID: ${{ secrets.API_PROJECT_ID }}
  GCP_REGION: ${{ secrets.API_REGION }}
  IMAGE: asia-northeast1-docker.pkg.dev/${{ secrets.API_PROJECT_ID }}/${{ secrets.API_SERVICE_NAME }}/${{ secrets.API_SERVICE_NAME }}:${{ github.sha }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: "auth"
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: "${{ secrets.API_SA_KEY_FOR_DEPLOY }}"

      - name: Configure docker to use the gcloud cli
        run: gcloud auth configure-docker asia-northeast1-docker.pkg.dev --quiet

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Make my-secret.json
        working-directory: ohagi-dinner-api
        run: echo "${{ secrets.API_SA_KEY_FOR_GCS }}" > my-secret.json

      - name: Build and push
        uses: docker/build-push-action@v3
        working-directory: ohagi-dinner-api
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Cloud Run
        run: |
            gcloud run deploy ${{ env.SERVICE_NAME }} \
              --image ${{ env.IMAGE }} \
              --port ${{ env.PORT }} \
              --project ${{ env.GCP_PROJECT_ID }} \
              --region ${{ env.GCP_REGION }} \
              --platform=managed \
              --allow-unauthenticated \
              --quiet \
              --set-env-vars=PORT=80
